.anim-fade-in, .anim-fade-up {
	opacity: 0;
}

.words-to-lines {
	&._init {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	&._resized .words-line-element {
		transform: translate3d(0,0%,0);	
	}

	&._decor-line .words-decor-line {
		position: absolute;
		left: -50%; bottom: 10%;
		width: 100%; height: 1px;
		background: var(--white);
		transform: scale(0,1);
	}
}

.words-line {
	position: relative;
	overflow: hidden;
	display: block;
}
.words-line-element {
	display: block;
	transform: translate3d(0,100%,0);
	opacity: 1;
}
.underline-text {
	position: relative;
	& .underline-text-element {
		position: absolute;
		left: 0; top: 0;
	}
	& .underline-text-span {
		
		color: transparent;
		user-select: none;
	}
}

.anim-parallax-element {
	
}
