
:root {
    --title-font: 'Axiforma', sans-serif;
    --main-font: 'Axiforma', sans-serif;
    
    --accent: #FF0000;
    --accent-gradient: linear-gradient(110.88deg, #FF4A0A -10.77%, #FFA107 162.13%);

    --white: #FFF;
    --black: #000;
    --tomato: #EF6151;
    --tomato-dark: #cf493a;
    --light: #F1F1F1;

    --container-padding: 15px;

    --approach-decor-1: url("data:image/svg+xml,%3Csvg viewBox='0 0 99 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.207 3.91309C-0.580609 5.85615 -0.347443 9.81998 1.67333 11.9185C4.39361 14.7165 11 12.8511 11 9.27593C11 7.48832 9.05694 3.75765 7.73567 2.98043C5.87033 1.81459 2.68372 2.28093 1.207 3.91309Z' fill='black'/%3E%3Cpath d='M85.1185 7.43633C84.9253 10.0697 87.5716 13.0237 90.4593 13.4051C94.3299 13.8975 98.3475 8.32176 96.1254 5.5263C95.0144 4.12858 91.1732 2.42253 89.6548 2.63828C87.4685 2.88923 85.2613 5.23982 85.1185 7.43633Z' fill='black'/%3E%3Cg clip-path='url(%23clip0_127_212)'%3E%3Cpath d='M21.96 8.53159C29.24 7.73159 29.32 7.33159 22.36 7.33159C18.76 7.33159 16.6 7.65159 16.6 8.21159C16.6 8.77159 18.36 8.85159 21.96 8.53159Z' fill='black'/%3E%3Cpath d='M39.88 8.13086C45.72 8.13086 45.8 7.57086 40.04 6.85086C37.48 6.53086 35.8 6.69086 35.48 7.25086C35.08 7.89086 36.52 8.13086 39.88 8.13086Z' fill='black'/%3E%3Cpath d='M58.76 7.97087C62.04 8.13087 63.08 7.89087 62.2 7.33087C60.76 6.37087 54.2 6.29087 54.2 7.17087C54.2 7.57087 56.28 7.97087 58.76 7.97087Z' fill='black'/%3E%3Cpath d='M72.76 8.29075C78.44 7.89075 78.92 7.49075 73.96 7.41075C71.48 7.41075 69.4 7.57075 69.4 7.97075C69.4 8.29075 70.92 8.45075 72.76 8.29075Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_127_212'%3E%3Crect width='6.4' height='64' fill='white' transform='matrix(0 -1 1 0 15 11.332)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    --approach-decor-2: url("data:image/svg+xml,%3Csvg viewBox='0 0 79 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.207 1.91309C-0.580609 3.85615 -0.347443 7.81998 1.67333 9.91848C4.39361 12.7165 11 10.8511 11 7.27593C11 5.48832 9.05694 1.75765 7.73567 0.980427C5.87033 -0.185407 2.68372 0.280927 1.207 1.91309Z' fill='black'/%3E%3Cg clip-path='url(%23clip0_130_1212)'%3E%3Cpath d='M21.9599 6.53159C29.2399 5.73159 29.3199 5.33159 22.3599 5.33159C18.7599 5.33159 16.5999 5.65159 16.5999 6.21159C16.5999 6.77159 18.3599 6.85159 21.9599 6.53159Z' fill='black'/%3E%3Cpath d='M39.8801 6.13086C45.7201 6.13086 45.8001 5.57086 40.0401 4.85086C37.4801 4.53086 35.8001 4.69086 35.4801 5.25086C35.0801 5.89086 36.5201 6.13086 39.8801 6.13086Z' fill='black'/%3E%3Cpath d='M58.7603 5.97087C62.0403 6.13087 63.0803 5.89087 62.2003 5.33087C60.7603 4.37087 54.2003 4.29087 54.2003 5.17087C54.2003 5.57087 56.2803 5.97087 58.7603 5.97087Z' fill='black'/%3E%3Cpath d='M72.7601 6.29075C78.4401 5.89075 78.9201 5.49075 73.9601 5.41075C71.4801 5.41075 69.4001 5.57075 69.4001 5.97075C69.4001 6.29075 70.9201 6.45075 72.7601 6.29075Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_130_1212'%3E%3Crect width='6.4' height='64' fill='white' transform='matrix(0 -1 1 0 15 9.33203)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

@font-face {
    @include font-include('Axiforma', 400, swap, normal, 'Axiforma-Regular');
}

@font-face {
    @include font-include('Axiforma', 500, swap, normal, 'Axiforma-Medium');
}

@font-face {
    @include font-include('Axiforma', 700, swap, normal, 'Axiforma-Bold');
}

@font-face {
    @include font-include('Axiforma', 800, swap, normal, 'Axiforma-ExtraBold');
}
