.words {
	
	@media (min-width: 1105px) {
		padding-top: 70px; padding-bottom: 70px;
	}

	@media (min-width: 1285px) {
		padding-top: 80px; padding-bottom: 80px;
	}
	
	@media (min-width: 1385px) {
		padding-top: 7px; padding-bottom: 85px;
	}

    // .words__line

    &__line {

        background: var(--black);
        padding: 17px 0;
        margin: 0 -30px;
            
        @media (min-width: 475px) {
            padding: 27px 0;
        }
        
        @media (min-width: 1105px) {
            padding: 37px 0;
        }

        &:nth-child(1) {
            transform: rotate(-2deg);
        }

        &:nth-child(2) {
            transform: rotate(2deg);
        }

        // .words__line--wrapper

        &--wrapper {
            display: flex;
            justify-content: center;

            transform: translate3d(var(--x,0),0,0);
        }

        // .words__line--item

        &--item {
            white-space: nowrap;
            width: auto;
            font-family: var(--title-font);
            font-weight: 800;
            font-size: 3.1875rem;
            
            @media (min-width: 475px) {
                font-size: 4.4375rem;
            }
            
            @media (min-width: 1105px) {
                font-size: 4.75rem;
            }
            
            line-height: 100%;
            letter-spacing: -0.035em;
            text-transform: uppercase;
            color: var(--white);
        }
    }
}
