.passion {

	

	display: flex;
	flex-direction: column;
	

	@media (min-width: 1105px) {
		margin-top: -2px;
	}

	@media (min-width: 1285px) {
		margin-top: 0;
	}

	// .passion__wrapper

	&__wrapper {
		
		//position: relative;

		display: flex;
		flex-direction: column;
		position: relative;

		min-height: 823px;
		
		padding-top: 110px; padding-bottom: 110px;
		
		@media (min-width: 425px) {
			min-height: 823px;
			padding-top: 110px; padding-bottom: 110px;
		}
		
		@media (min-width: 475px) {
			min-height: 823px;
			padding-top: 125px; padding-bottom: 125px;
		}
		
		@media (min-width: 605px) {
			min-height: 825px;
			padding-top: 150px; padding-bottom: 150px;
		}
		
		@media (min-width: 895px) {
			padding-top: 150px; padding-bottom: 150px;
		}
		
		@media (min-width: 965px) {
			padding-top: 137px; padding-bottom: 162px;
		}
		
		@media (min-width: 1105px) {
			padding-top: 137px; padding-bottom: 150px;
		}
		
		@media (min-width: 1285px) {
			padding-top: 137px; padding-bottom: 137px;
		}
		
		@media (min-width: 1385px) {
			padding-top: 137px; padding-bottom: 137px;
		}

		flex: 1 1 auto;
	}

	&__bg {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		//background: var(--black);
		&--element {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background-size: cover;
			background-position: right center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			@media (min-width: 1000px) {
				height: calc(100vh + 50px);
				transform: translate3d(0, var(--y), 0);
				background-attachment: local;
			}
		}
		overflow: hidden;
		z-index: -1;
		&::after {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background: var(--black);
			opacity: .5;
		}

		& img {
			position: absolute;
			left: 0; top: -150px;
			z-index: -1;
			transform: translate3d(0, var(--y), 0);
			width: 100%; height: calc(100% + 300px);
			object-position: right;

			@media (min-width: 1000px) {
				top: -200px;
				height: calc(100% + 400px);
				
			}
			object-fit: cover;
		}
	}

	// .passion__image-slider

	&__image-slider {
		
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		background: var(--black);

		// .passion__image-slider--wrapper

		&--wrapper {
			
		}

		// .passion__image-slider--slide

		&--slide {
		}
	}

	// .passion__image-slide

	&__image-slide {

		opacity: 0 !important;
		&.swiper-slide-active {
			opacity: 1 !important;
		}

		/* opacity: 0; visibility: hidden;
		&.swiper-slide-visible.swiper-slide-active {
			opacity: 1; visibility: visible;
		} */

		// .passion__image-slide--body

		&--body {
			min-height: 100%;
			position: relative;
			& img {
				position: absolute;
				left: 0; top: -50px;
				width: 100%; height: calc(100% + 100px);
				object-fit: cover;
				user-select: none;
				opacity: .55;
			}
		}
	}

	// .passion__content-slider

	&__content-slider {

		max-width: 100%;
		flex: 1 1 auto;

		display: flex;
		flex-direction: column;

		// .passion__content-slider--header

		&--header {
			display: flex;
			align-items: center;
		}

		// .passion__content-slider--icon

		&--icon {
			margin-right: 27px;
			width: 27px; height: 27px;
			
			display: flex;
			align-items: center;
			justify-content: center;

			background: var(--white);
			border-radius: 50%;

		}

		// .passion__content-slider--nav

		&--nav {
			display: flex;
			align-items: center;

			margin: -4.5px;
		}

		// .passion__content-slider--arrow

		&--arrow {
			position: static;
			margin: 4.5px;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 27px; height: 27px;
			border-radius: 50%;

			background: rgba(255, 255, 255, 0.2);
			transition: background .2s ease-in-out;
			&:hover {
				background: rgba(255, 255, 255, 0.4);
			}
			
			&:active {
				background: rgba(255, 255, 255, 0.3);
			}

			& svg {
				width: 100%; height: 100%;
				fill: transparent;
			}

			&::after {
				display: none;
			}
		}

		// .passion__content-slider--wrapper

		&--wrapper {
			flex: 1 1 auto;
		}

		// .passion__content-slider--slide

		&--slide {
		}
	}

	// .passion__content-slide

	&__content-slide {

		height: auto;

		padding-top: 50px;
		width: 100%;

		opacity: 0 !important;
		&.swiper-slide-active {
			opacity: 1 !important;
		}

		display: flex;
		flex-direction: column;
		/* opacity: 0; visibility: hidden;
		&.swiper-slide-visible {
			opacity: 1; visibility: visible;
		}

		transition: opacity .2s ease-in-out, visibility .2s ease-in-out; */

		// .passion__content-slide--title

		&--title {
			color: var(--white);
			/* max-width: 270px;
			&._large-container {
				max-width: 450px;
			} */
			@media (min-width: 965px) {
				max-width: 350px;
				&._large-container {
					max-width: 450px;
				}
			}
			@media (min-width: 1105px) {
				max-width: 370px;
				&._large-container {
					max-width: 550px;
				}
			}
			& .words-line-element {
				transform: translate3d(0,50%,0);
			}
			& .words-line {
				overflow: visible;
			}
			line-height: 100.4%;
			letter-spacing: -0.035em;
		}
	}

	&__footer {
		flex: 1 1 auto;

		position: relative;
		
	}

	&__timer {
		position: absolute;
		left: 0; bottom: 0;
		width: 100%; height: 1px;
		z-index: 2;

		background: rgba(255, 255, 255, 0.26);
		transition: opacity .2s ease-in-out;
		&::before {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: var(--value); height: 100%;
			background: var(--white);
		}
		&._slide-change::before {
			transition: width var(--slider-speed, 3s) linear;
			/* &::-webkit-progress-value {
				transition: width var(--slider-speed, 3s) linear;
			}
			&::-moz-progress-bar {
				transition: width var(--slider-speed, 3s) linear;
			} */
		}

		&::-webkit-progress-bar {
			background: rgba(255, 255, 255, 0.26);
		}

		&::-webkit-progress-value {
			background: var(--white);
		}
		&::-moz-progress-bar {
			background: var(--white);
		}
	}
}
